@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:200,400,600,700');

/* GENERAL STYLES */
html, body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}

/* BODY */
body {
  min-height: 100vh;
}

/* WHOLE APP CONTAINER */
.container {
  padding: 15px 0;
}

/* TOP NAV */
nav {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav > * {
  display: block;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
nav > a {
  flex: 1;
  text-align: center;
}

/* SPLASH SCREEN/SEARCH BANNER */
.banner {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
}
.banner:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
  background: url('../images/test.jpg');
  background-size: cover;
  z-index: -1;
}
.banner h1 {
  margin: 0;
  /* align-self: flex-end; */
}
.banner h2 {
  font-weight: 200;
  /* align-self: flex-start; */
}
.banner span {
  margin: 20px 0;
  font-weight: bold;
}

.searchbar {
  display: flex;
}
.searchbar > label {
  display: flex;
  align-items: center;
  flex: 2;
  padding: 0 10px;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  background: white;
  color: gray;
}
.searchbar > button {
  background: skyblue;
  border: 3px solid gray;
  padding: 0 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 2.1rem;
}
.searchbar > input {
  width: 50vw;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  line-height: 1.5rem;
  outline: none;
  border: 1px solid gray;
  border-left: none;
  transition: all 0.5s;
}
.searchbar > input:focus {
  width: 80vw;
}

.highlightedCampgrounds {
  margin: 40px 10px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}
.highlightedCampgrounds h1 {
  display: flex;
  grid-column: 1 / -1;
  font-size: 1.7rem;
  font-weight: 200;
}
.highlightedCampgrounds h1 span:first-child {
  flex: 1;
}
.highlightedCampgrounds li {
  border: 1px solid gray;
  text-align: center;
  padding: 10px 0px;
  animation: item-fade-in 1s;
}
.highlightedCampgrounds li span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.highlightedCampgrounds li a {
  flex-basis: 100%;
}
.highlightedCampgrounds li img {
  max-width: 90%;
  border-radius: 3px;
  max-height: 250px;
  flex-basis: 100%;
}

@keyframes item-fade-in {
  from {opacity: 0; background: black;}
  to {opacity: 1; background: white;}
}
