@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:200,400,600,700');

/* GENERAL STYLES */
html, body {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
.bold {
  font-weight: bold;
}
.hidden {
  display: none;
}
.error {
  color: red;
  font-weight: bold;
  padding: 8px 0 8px 4px;
}
h1, h2 {
  margin-top: 50px;
  font-weight: 700;
  color: red;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.03rem;
}
h2 {
  font-size: 1.5rem;
}
button {
  align-self: center;
  justify-self: center;
  grid-area: reviewlink;
  border-radius: 7px;
  outline: none;
  background: linear-gradient(120deg, #e20d0d, #B02020);
  color: white;
  font-weight: bold;
  font-size: .95rem;
  padding: 9px 18px;
  border: 1px solid black;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}
button:active {
  background: linear-gradient(300deg, #E20D0D, #B02020);
  box-shadow: 0px 0px 8px #B02020;
}

/* BODY */
body {
  min-height: 100vh;
}

/* WHOLE APP CONTAINER */
.container {
  padding: 0;
}

/* TOP NAV */
nav {
  padding: 10px;
  background: red;
  display: grid;
  grid-template-columns: 1fr repeat(3, auto);
  grid-gap: 75px;
  align-items: center;
}
nav > * {
  display: block;
}
nav > .title {
  font-size: 1.9rem;
  letter-spacing: .15rem;
  font-weight: bold;
  text-align: left;
  color: white;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
nav > a {
  flex: 1;
  text-align: center;
}

/* SPLASH SCREEN/SEARCH BANNER */
.banner {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  position: relative;
}
.banner:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  display: block;
  background: url('../images/test.jpg');
  background-size: cover;
  z-index: -1;
}
.banner h1 {
  margin: 0;
  color: black;
}
.banner h2 {
  color: black;
  font-weight: 200;
}
.banner span {
  margin: 20px 0;
  font-weight: bold;
}

.searchbar {
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
}
.searchbar > label {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px solid gray;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  background: white;
  color: gray;
}
.searchbar > button {
  background: skyblue;
  border: 3px solid gray;
  padding: 0 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 2.1rem;
}
.searchbar > input {
  width: 50vw;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 5px 10px;
  line-height: 1.5rem;
  outline: none;
  border: 1px solid gray;
  border-left: none;
}
/* .searchbar > input:focus {
  width: 80vw;
} */
.searchbar > .results {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  opacity: 0.85;
}
.results > li {
  display: flex;
}
.search-icon {
  font-size: 2rem;
  font-style: normal;
  padding: 0 20px;
}
.searchtext {
  flex: 1;
  text-align: left;
}
.searchtext > h1 {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  margin: 3px 0;
}
.searchtext > h2 {
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 0.9rem;
}
.selected {
  background: rgb(0, 110, 180);
  color: white;
}
.selected > div > * {color: white!important;}


.highlightedCampgrounds {
  margin: 40px 10px;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}
.highlightedCampgrounds h1 {
  display: flex;
  grid-column: 1 / -1;
  font-size: 1.7rem;
  font-weight: 200;
}
.highlightedCampgrounds h1 span:first-child {
  flex: 1;
}
.highlightedCampgrounds li {
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  padding: 10px 0px;
  animation: item-fade-in 1s;
}
.highlightedCampgrounds li span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.highlightedCampgrounds li a {
  flex-basis: 100%;
}
.highlightedCampgrounds li img {
  max-width: 90%;
  border-radius: 3px;
  max-height: 250px;
  flex-basis: 100%;
}

footer {
  padding: 10px;
  background: lightgray;
  border-top: 2px solid gray;
  text-align: center;
}
footer > * {
  margin: 0;
  padding: 0;
  font-size: .8rem;
  font-weight: normal;
}
@keyframes item-fade-in {
  from {opacity: 0; background: black;}
  to {opacity: 1; background: white;}
}


.spin {
  animation: test .5s;
  animation-iteration-count: 1;
}
@keyframes test {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.singleCampground {
  display: grid;
  grid-template-columns: 3.5fr minmax(230px, 1fr);
  padding: 20px 90px;
  grid-gap: 0 55px;
  grid-template-areas: "title reviewlink"
      "rating rating"
      "map map"
      "basicinfo sidebar"
      "description sidebar"
      "image sidebar"
      "review sidebar"
      "review sidebar"
      "review sidebar";
}
.singleCampground > .review-link {
  grid-area: reviewlink;
  justify-self: flex-end;
  align-self: center;
}
.singleCampground > .title {
  grid-area: title;
  margin: 0;
  color: black;
  font-size: 2.4rem;
}
.singleCampground > .rating {
  grid-area: rating;
  align-self: flex-start;
  margin: 5px 0;
}
.singleCampground > .infoBox {
  align-self: flex-start;
  justify-self: flex-start;
  grid-area: basicinfo;
  display: grid;
  grid-template-columns: 1fr 100px;
  width: 100%;
}
.singleCampground .infoBox__weather {
  display: grid;
}
.singleCampground .infoBox__info {
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
}
.infoBox__icon {
  justify-self: center;
}
.singleCampground > .sidebar {
  grid-area: sidebar;
  margin: 15px 0;
  padding-left: 10px;
  border-left: 1px solid lightgray;
}
.singleCampground > .sidebar > span {
  margin-left: 5%;
  display: block;
  text-transform: capitalize;
}
.sidebar h1 {
  margin: 15px 0 0 0;
  color: red;
  font-size: 1.3rem;
}
.sidebar h1:first-child {
  margin-top: 0;
}
.sidebar h2 {
  margin: 0;
  font-size: 1.1rem;
  color: black;
}
.singleCampground > .description {
  grid-area: description;
}
.singleCampground img {
  max-width: 100%;
}
.reviews-header {
   display: flex;
   justify-content: space-between;
}
.singleCampground > .review {
  grid-column: 1;
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 15px 0;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
  align-items: center;
}
.review__first {
  grid-column: 1
}
.review > .review__author {
  font-weight: bold;
}
.review .review__rating .star:after {font-size: 1rem}
.review .review__rating .star {height:20px; width: 20px;}
.review .review__rating {
  grid-column: 2;
}
.review .review__time {
  flex: 1;
  text-align: right;
}
.review .review__text {
  grid-column: 2;
}

.mapContainer {
  height: 250px;
  width: 100%;
  grid-area: map;
}
.map {
  width: 100%;
  height: 250px;
  border: 2px solid gray;
}
.gmnoprint, .gm-style-cc {
  display: none;
}

.activities__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.activities__list > li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.activity__name {
  /* display: none; */
  position: absolute;
  transform: translateX(200%);
  transition: all 0.5s;
}
.activity__logo {
  font-size: 3rem;
  transition: all 0.5s;
  padding: 0 15px 0 0;
}
.activities__list > li:hover .activity__name {
  /* show on hover */
  transform: translateX(0);
  position: initial;
}

.rating {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.rating h2 {
  flex-basis: 100%;
  margin: 0;
  font-size: .85rem;
  font-weight: normal;
}
.star {
  /* background for star */
  height: 30px;
  width: 30px;
  border-radius: 5px;
  background: gray;
  margin: 0 3px;
  overflow: hidden;
  /* To force ::before/::after divs to be positioned */
  position: relative;
}
.star:after {
  /* star text content */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: '★';
  color: white;
  font-size: 1.5rem;
}
.star:before {
  display: block;
  content: ' ';
  height: 100%;
  background: green;
  opacity: 0.8;
}
/* The following rules are for hovering for picking a rating */
.review-form__picker:hover .star {
  /* Make all of them green if hovered anywhere */
  background: green;
}
.review-form__picker .star:hover ~ .star {
  /* Make all following the currently hovered one gray again for visual effect */
  background: gray!important;
}

.star100:before {
  transform: translateX(0%);
}
.star90:before {
  transform: translateX(-10%);
}
.star80:before {
  transform: translateX(-20%);
}
.star70:before {
  transform: translateX(-30%);
}
.star60:before {
  transform: translateX(-40%);
}
.star50:before {
  transform: translateX(-50%);
}
.star40:before {
  transform: translateX(-60%);
}
.star30:before {
  transform: translateX(-70%);
}
.star20:before {
  transform: translateX(-80%);
}
.star10:before {
  transform: translateX(-90%);
}
.star0:before {
  transform: translateX(-100%);
}

.review-form {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.review-form__picker {
  margin: 0;
}
.review-form__buttons {
  grid-column: 1 / -1;
}
.review-form__buttons > * {
  margin-right: 5px;
}
.review-form__text {
  border: none;
  width: 100%;
  min-height: 100px;
  font-size: 1.1rem;
  grid-column: 1 / -1;
  resize: none;
  outline: none;
  line-height: 1.5rem;
  font-family: inherit;
}
