/* DISCOVER TILE */
.Discover__content {
  display: flex;
}
.discover__details {
  flex: 2;
}
.discover-tile a:active {
  background: linear-gradient(300deg, #E20D0D, #B02020);
  box-shadow: 0px 0px 8px #B02020;
}
.discover-tile a:hover {
  text-decoration: none;
}
.discover-tile a {
  margin: 40px 40px;
  font-size: 1.3rem;
  color: white;
  padding: 13px 30px;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  border: 1px solid black;
  background: linear-gradient(#e20d0d, #B02020);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

}

/* MOBILE STYLES */
@media screen and (max-width: 767px) {
  .SingleCampground > .singleCampground__title {font-size: 1.7rem; transition: all 0.5s;}
  .SingleCampground .sidebar {padding: 0; border-top: 2px solid gray; background: lightgray}
  .SingleCampground .activities__list {grid-area: activities;}
  .infoBox__weather > .infoBox__weather-summary {font-size: 2.5rem;}
  .activities__list ul > li {display: flex; align-items: center;}
  .activities__list ul > li:hover .activity__name {transform: none;}
  .activities__list li > * {flex-basis: 50%; text-align: center; transform: translate(0); font-weight: normal;}
  .activities__list .activity__name {text-align: left;}
  .activities__list .error {grid-column: 1 / -1;}
  .review__first {display: none;}
  .reviews-header {grid-area: review-header;}
  .reviews-header button {display: none;}
  .reviews-container {grid-area: reviews;}
  .review__first {grid-area: reviewLink;}
  .NewReviewForm {grid-area: reviewForm;}
  .NewReviewForm .review-link {display: block; grid-column: 3; grid-row: 1;}
  .review-form__picker.rating {grid-area: auto;}
  .discover > .discover__content {flex-direction: column;}
  .results > li {padding: 5px 0;}
  .searchtext h1, .searchtext h2 {font-size: 1rem; margin: 0}
  .search-page-container .filter__tiles {grid-template-columns: 1fr;}
  .search-page-container > * {padding: 5px; margin: 0;}
  .search-page-container h2 {display: none;}
  .search-page-container .filters {grid-template-columns: 1fr; grid-template-rows: repeat(4, auto); padding: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
  .search-page-container .filters p {font-weight: bold; font-size: 1.3rem;}
  .search-page-container .Pagination__count {display: none;}
  .search-page-results {grid-gap: 5px; grid-template-columns: 1fr;}
  .search-page-results .discover__map {grid-column: 1; margin: 0;}
  .search-result {padding: 5px 0; grid-gap: 8px 4px; grid-template-columns: 100px 1fr 1fr;}
  .Pagination:last-child { display: block;}
  .Pagination__pages, .Pagination__pages > * {display: flex; align-items: center; justify-content: center; border: none;}
  .Pagination__pages a {padding: 5px 0; letter-spacing: 0px; width: 1.9rem; font-size: 0.7rem;}
  .Pagination__pages a.next-link, .Pagination__pages a.prev-link {width: 75px;}
  .filter__dropdown-container {width: 97%; align-self: center;}
}



/* visme.co
7
22
30

https://www.canva.com/learn/website-color-schemes/
16
22
38        use url(/static/media/nav-swirl.f60fb2fb.png),  linear-gradient(to right, #111155, #333a56, rgba(0, 0, 0, 0.1)) ; bg color some navy
46

https://learn.canva.com/learn/100-color-combinations/
2
5
14
46
51
91


              LIGHT-MAIN      DARK-MAIN      LIGHT      ACCENT
              494E6B          192231         98878F     985E6D
              9F4636          6C2D2C         F1DCC9     42313A
              2988BC          2F496E         F4EADE     ED8C72
              336B87          2A3132         90AFC5     763626




background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/xv.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/washi.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/swirl.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/strange-bullseyes.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/starring.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/skulls.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/dark-geometric.png");

background-color: #4a0000;
background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png"); */
