@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed:200,400,600,700');

/* OVERVIEW STYLES */
:root {
  /* --light-main: #494E6B;  --dark-main: #192231;  --light: #98878F;
  --very-light: #fafafa;  --accent: #985E6D;
 */

  /* --light-main: #2988BC;  --dark-main: #2F496E;  --light: #F4EADE;
  --very-light: #fafafa;  --accent: #ED8C72; */

  /* --light-main: #336B87;  --dark-main: #2A3132;  --light: #90AFC5;
  --very-light: #fafafa;  --accent: #763626; */
  --light-main: #9F4636;  --dark-main: #6C2D2C;  --light: #F1DCC9;
  --very-light: #fafafa;  --accent: #42313A;
}
html, body {
  font-family: 'IBM Plex Sans Condensed', sans-serif; font-size: 100%; margin: 0;
  padding: 0; box-sizing: border-box; background-color: var(--very-light);
  background-image: url("../images/background.png");
}
body {
  min-height: 100vh;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
h1, h2, h3, p {
  margin: 0; font-weight: normal;
}
h1 {
  text-align: center; display: flex; align-items: center; justify-content: center;
  letter-spacing: 0.03rem; color: var(--light-main);
}
h1::after, h1::before {
  /* Decorative lines for header */
  content: ' '; width: 20%; height: 0.25rem; margin: 0 0 0 10px;
  border-top: 1px solid; border-bottom: 1px solid; display: inline-block;
}
h1::before { margin: 0 10px 0 0;}
h2 {
  color: var(--light-main);
}
h3 {
  color: var(--accent);
}
i {
  padding-right: 8px;
}
button[disabled] {
  opacity: 0.5;
}
button[disabled]:hover {
  cursor:not-allowed;
}

/* Google Map Related Stuff */
.gmnoprint, .gm-style-cc, .gmnoprint + button {
  display: none;
}
.google-map > div {
  position: relative; height: 100%; width: 100%;
}

/* GENERAL STYLES */
.btn {
  text-align: center; display: flex;
  align-items: center; justify-content: center;
}
.btn--small, .btn--large {
  background: linear-gradient(var(--light-main), var(--dark-main)); color: var(--very-light);
  border: 1px solid var(--dark-main); border-radius: 4px;
}
.btn--small {
  font-size: 0.9rem; padding: 3px 5px; font-weight: normal;
}
.btn--large {
  font-size: 1.4rem; padding: 16px 26px; font-weight: bold;
}
.btn--large:active, .btn--small:active {
  background: linear-gradient(45deg, var(--dark-main), var(--light-main));
}
.btn--flat {
  background: var(--dark-main); padding: 5px 10px; border-radius: 5px;
  color: var(--very-light); border: 2px solid var(--light);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.btn--flat:hover {
  background: var(--accent); color: var(--very-light);
}
.btn:hover, .btn--small:hover, .btn--large:hover, .btn--flat:hover {
  cursor: pointer;
}
.flex-center {
  display: flex; align-items: center; justify-content: center;
}
.bold {
  font-weight: bold!important;
}

/* ANIMATIONS */
    /* <App /> */
.Cart-enter {
  max-width: 0;
}
.Cart-enter.Cart-enter-active {
  max-width: 50%; transition: all 450ms cubic-bezier(1,0,.41,1.24);
}
.Cart-leave {
  max-width: 50%;
}
.Cart-leave.Cart-leave-active {
  max-width: 0; transition: all 450ms cubic-bezier(.5,.06,.58,1.47);
}
    /* <Cart /> */
.Cart__items-leave {
  max-height: 100%;
}
.Cart__items-leave.Cart__items-leave-active {
  max-height: 0%; transition: all 200ms linear;
}
    /* <XButton /> */
@keyframes close-button-flip {
  from   {transform: rotate(0);}
  to     {transform: rotateX(150deg);}
}
    /* <Banner /> */
@keyframes down-arrow-move {
  from {transform: translateY(-40px);}
  to {transform: translateY(-5px);}
}
@keyframes banner-images-fadein {
  /* 0% {opacity: 0;}
  10% {opacity: 1;}
  20% {opacity: 1;}
  40% {opacity: 0;} */
}
    /* <Campgrounds /> */
@keyframes random-icon-spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
    /* <CampgroundTile /> */
@keyframes CampgroundTile-fade-in {
  0%   {opacity: 0; transform: scale(0.3); background: var(--light-main);}
  30%  {transform: scale(1);}
  100% {opacity: 1; transform: scale(1); background: var(--very-light);}
}
    /* <withLoading /> */
@keyframes rotate-loading-spinner {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}
    /* <DiscoverSVGMap /> */
@keyframes DiscoverSVGMap-scroll {
  /* Show each province for a bit, then scroll */
  0%, 1% {transform: translateY(-0%)}
  8%, 9% {transform: translateY(-100%)}
  16%, 17% {transform: translateY(-200%)}
  24%, 25% {transform: translateY(-300%)}
  32%, 33% {transform: translateY(-400%)}
  40%, 41% {transform: translateY(-500%)}
  48%, 49% {transform: translateY(-600%)}
  56%, 57% {transform: translateY(-700%)}
  64%, 65% {transform: translateY(-800%)}
  72%, 73% {transform: translateY(-900%)}
  80%, 81% {transform: translateY(-1000%)}
  88%, 89% {transform: translateY(-1100%)}
  96%, 97% {transform: translateY(-1200%)}
  100% {transform: translateY(0%)}
}

/* COMPONENT SPECIFIC STYLES */
    /* Component: <App/> */
.container {
  padding: 0;
}

    /* Component <Header /> */
.Header {
  box-shadow: 0 3px 25px rgba(0, 0, 0, 0.5);  padding: 10px;
  /* Background for simple browsers, and transparent graduent below */
  background: var(--dark-main);
  display: grid; grid-template-columns: 1fr repeat(3, auto); grid-gap: 25px; align-items: stretch;
  max-height: 12vh; border-bottom: 2px solid var(--light-main); transition: all 0.3s;
  background-image: url("../images/nav-swirl.png"), linear-gradient(to right, var(--dark-main), var(--light-main));
}
.Header__link:hover {
  text-decoration: none;
}
.Header > .btn {
  font-size: .8rem;
}
.Header__title {
  font-size: 1.9rem; transform: skew(-6deg) rotateZ(.3deg);
  letter-spacing: .15rem; font-weight: bold; text-align: left;
  color: var(--very-light); text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}
.Header__cart-icon i, .Header__discover-icon i {
  transition: all 0.3s ease-out;
}
.Header__discover-icon:hover i {
  transform: scaleX(-1) translateX(6px);
}
.Header__cart-icon:hover i {
  transform: rotateY(180deg) translateX(5px);
}
.Header__user-image {
  height: 28px; margin: 0 7px 0 0; border-radius: 50%;
}

    /* Component <XButton /> */
.XButton {
  cursor: pointer; border: 0; background: none;
}
.XButton:hover {
  animation: close-button-flip 0.2s linear;
}

    /* Component <Cart/> */
.Cart {
  /* Ensure it is always at right */
  position: fixed; width: 45%; height: 100vh; top: 0; right: 0; border-left: 3px solid var(--accent);
  background: linear-gradient(to bottom, var(--light) 0px, var(--light) 80px, var(--dark-main) 80px);
  /* ENsure it is behind the overlay for login! */
  z-index: 3; display: grid; grid-gap: 10px 0; grid-template-columns: 1fr 35px;
  grid-template-rows: 65px 55px repeat(auto-fit, 70px); padding: 5px 15px;
  box-shadow: -5px 0 20px rgba(0, 0, 0, 0.4); overflow-y: scroll;
}
.Cart__message {
  color: var(--very-light)
}
.Cart__close {
  font-size: 2rem; text-align: right; grid-column: 2; color: var(--light-main);
  padding: 0; align-self: flex-start;
}
.Cart__items {
  grid-column: span 2;
}
.Cart__item {
  grid-column: span 2;
  grid-template-areas: "image title close"
                       "image region close";
  padding: 15px 0; border-bottom: 1px solid var(--accent);
  display: grid; grid-template-columns: 75px 1fr 15px; grid-gap: 0 5px;
}
.Cart__item:last-child {
  /* Hide the border for last one */
  border-bottom: none;
}
.Cart__item-photo {
  max-width: 70px; border: 1px solid var(--dark-main); border-radius: 2px;
  grid-area: image; align-self: center; justify-self: center;
}
.Cart__item-title {
  grid-area: title; display: flex; align-items: flex-end; font-size: 1.1rem;
}
.Cart__item-link {
  color: var(--very-light);
}
.Cart__item-region {
  grid-area: region; font-size: 0.88rem; margin: 0; color: var(--light);
}
.Cart__item-delete {
  grid-area: close; align-self: center; font-size: 1rem; color: var(--light)
}

    /* Component <Banner /> */
.Banner {
  background: var(--light); height: 91vh;
  display: grid; grid-template-rows: 1fr; grid-template-columns: 1fr;
  overflow: hidden;
}
.Banner__image-container, .Banner__content {
  /* Render both on same grid box (image is background). Move to front */
  grid-column: 1; grid-row: 1; z-index: 1
}
.Banner__image-container {
  display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr; opacity: 0.50;
}
.Banner__image {
  width: 100%; height: 100%; object-fit: cover; opacity: 0; grid-column: 1;
  grid-row: 1; animation: banner-images-fadein 27s infinite;
}
.Banner__image:nth-child(2) {
  animation-delay: 4.5s;
}
.Banner__image:nth-child(3) {
  animation-delay: 9s;
}
.Banner__image:nth-child(4) {
  animation-delay: 13.5s;
}
.Banner__image:nth-child(5) {
  animation-delay: 18s;
}
.Banner__image:nth-child(6) {
  animation-delay: 21.5s;
}
.Banner__logo {
  transform: translateY(-25px) scaleX(0.92); height: 4.2rem;
}
.Banner__content {
  display: flex; flex-direction: column; align-items: center; justify-content: space-evenly;
  text-align: center; width: 100%;
}
.Banner__quote {
  flex-basis: 200px; display: flex; align-items: flex-end; color: var(--dark-main);
}
.Banner__title {
  color: var(--dark-main); font-weight: 600; font-size: 5.5rem;
  text-shadow: 0 3px 10px rgba(73,78,107,0.5);
}
.Banner__title::after, .Banner__title::before {
  display: none;
}
.Banner__subtitle {
  color: var(--accent); font-weight: 400; font-size: 2rem;
}
.Banner__chevron {
  font-size: 3.5rem; color: var(--very-light); opacity: 0.7;
  animation: down-arrow-move 1.5s infinite;
}

    /* Component <SearchBar /> */

    /* <SearchBar /> */
.SearchBar {
  display: flex; flex-wrap: wrap; width: 85vw; position: relative; z-index: 1; min-height: 50px;
}
.SearchBar__input {
  order: 1; width: 50vw; flex: 1; font-size: 1.5rem; font-weight: 200; border-left: 0;
  padding: 5px 10px; line-height: 1.5rem; border: 1px solid var(--dark-main);
}
.SearchBar__input:focus + .SearchBar__label {
  border-bottom-left-radius: 0;
}
.SearchBar__label {
  order: 0; padding: 0 10px; border: 1px solid var(--accent);
  border-right: 0; border-top-left-radius: 8px; border-bottom-left-radius: 8px;
  font-size: 1.3rem; background: var(--very-light); color: var(--light-main);
}
.SearchBar__button {
  order: 2; background: var(--dark-main); border: 1px solid var(--accent); padding: 0 8px;
  border-radius: 0; border-top-right-radius: 8px; border-bottom-right-radius: 8px;
  font-size: 2.1rem;
}
.SearchBar__button-icon {
  transform: scaleX(-1); padding: 1px 5px; color: var(--very-light);
  text-shadow: 0px 0px 15px var(--accent);
}
.SearchBar__results--active {
  position: absolute; top: 100%; width: 100%; max-height: 16rem; margin: 0;
  padding: 0; list-style: none; background: var(--light-main); opacity: 0.92;
}
.SearchBar__results--hidden {
  display: none;
}
.SearchBar__result--selected, .SearchBar__result--unselected {
  display: flex;
}
.SearchBar__result--selected:hover, .SearchBar__result--unselected:hover {
  cursor: pointer;
}
.SearchBar__result--selected {
  background: var(--dark-main); color: var(--light);
}
.SearchBar__result-icon {
  font-size: 2rem; font-style: normal; padding: 0 20px;
}
.SearchBar__result-text {
  flex: 1; text-align: left; color: var(--very-light);
}
.SearchBar__result-text > h1 {
  color: var(--accent); font-size: 1rem; margin: 3px 0; text-shadow: none; text-transform: capitalize;
}
.SearchBar__result-text > h2 {
  margin: 0; padding: 0; color: var(--very-light); font-size: 0.9rem; font-weight: 100;
}
.SearchBar__no-results {
  margin: 5px 0; color: var(--very-light);
}
    /* Component <LandingText /> */
.LandingText {
  display: flex; align-items: stretch; justify-content: space-between;
  padding: 60px 40px; margin: 30px 0; background: var(--light);
}
.LandingText__section {
  flex: 1; padding: 0 20px; transition: all 0.1s; border-radius: 10px;
  display: grid; grid-template-rows: 2.5rem 1fr;
}
.LandingText__title {
  font-weight: 800; align-items: flex-start; color: var(--light-main)
}
.LandingText__title i {
  padding: 4px 4px 4px 10px;
}
.LandingText__text {
  line-height: 1.5rem;
}

    /* Component <LandingTiles /> */
.LandingTiles {
  background: none; padding: 20px 50px;
}
.LandingTiles__section, .LandingTiles__section:first-child {
  /* first child pseudo slector used to override .landing-text > section:first-child above*/
  border: 1px solid var(--light-main); background: var(--very-light);
  margin: 0 10px; padding: 35px 0; border-radius: 5px;
  display: grid; align-items: center; justify-content: center; grid-gap: 10px 0;
  grid-template-rows: auto; text-align: center; box-shadow: 0 0 15px rgba(0,0,0,0.5);
}
.LandingTiles__section:hover {
  transform: scale(1.05);
}
.LandingTiles__text {
  font-weight: 100; margin: 0;
}
.LandingTiles__number {
  font-size: 1.4rem;
}
.LandingTiles__icon {
  font-size: 6.5rem; padding: 15px 0; border-bottom: 1px solid var(--light-main);
}

    /* Component <DiscoverTile /> */
.DiscoverTile {
  background-color: var(--dark-main);
  text-align: center; font-weight: 100; height: 65vh; font-size: 1.8rem;
  color: var(--very-light); box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.7);
  margin: 10px 0 50px 0;
  background: url('../images/test2.jpg') bottom no-repeat; background-size: cover;
  flex-direction: column;
}
.DiscoverTile__button {
  margin: 40px; letter-spacing: .09rem;
}

    /* Component <Campgrounds /> */
.Campgrounds {
  margin: 0px 10px 40px 10px; list-style: none; padding: 0;
  display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); grid-gap: 15px;
}
.Campgrounds__header {
  grid-column: 1 / -1;
}
.Campgrounds__header-title {
  flex: 1;
}
.Campgrounds__random {
  font-size: 1.7rem; color: var(--accent); padding: 0;
}
.Campgrounds__random:hover {
  cursor: pointer;
}
.Campgrounds__random--spin {
  animation: random-icon-spin .5s; animation-iteration-count: 1;
}

    /* Component <CampgroundTile /> */
.CampgroundTile {
  background: var(--very-light); border: 1px solid var(--accent); padding: 0 0 10px 0;
  border-radius: 7px; animation: CampgroundTile-fade-in .5s; overflow: hidden;
  display: grid; grid-template-columns: 3fr 2fr; grid-gap: 5px 0;
  grid-template-areas:
     "image image"
     "link link"
     "region region"
     "rating reviews"
}
.CampgroundTile__img {
  max-width: 100%; grid-column: span 2; max-height: 250px; flex-basis: 100%;
  border-top-left-radius: 3px; border-top-right-radius: 3px; grid-area: image;
}
.CampgroundTile__name {
  font-size: 1.1rem;
}
.CampgroundTile__link {
  grid-column: span 2; display: block; margin: 0 0 0 3px; grid-area: link;
}
.CampgroundTile__region {
  grid-column: span 2; margin: 0 0 0 3px; font-weight: 100; grid-area: region;
}
.CampgroundTile > .RatingBar {
  margin: 0 1px 0 0; grid-area: rating;
}
.CampgroundTile__review-count {
  margin: 0 1px 0 0; grid-area: reviews;
}

    /* Component <RatingBar /> */
.RatingBar {
  display: inline-flex; flex-wrap: wrap;
}
.RatingBar__star {
  /* background for star */
  height: 30px; width: 30px; border-radius: 5px;
  background: var(--light); margin: 0 3px; overflow: hidden;
  /* To force ::before/::after divs to be positioned */
  position: relative;
}
.RatingBar__star:first-child {
  margin-left: 0;
}
.RatingBar__star:last-child {
  margin-right: 0;
}
.RatingBar__star:after {
  /* star text content */
  content: '★'; display: flex; align-items: center; justify-content: center;
  height: 100%; width: 100%; color: var(--very-light); font-size: 1.5rem;
  position: absolute; top: 0; left: 0;
}
.RatingBar__star:before {
  display: block; content: ' '; height: 100%; background: var(--dark-main); opacity: 0.8;
}
.RatingBar__star--small {
  height: 20px; width: 20px; margin: 0 2px;
}
.RatingBar__star--small:after {
  font-size: 0.95rem;
}
.RatingBar--editable:hover .RatingBar__star {
  /* Make all of them green if hovered anywhere */
  background: var(--dark-main);
  opacity: 1;
}
.RatingBar--editable .RatingBar__star:hover ~ .RatingBar__star {
  /* Make all following the currently hovered one gray again for visual effect */
  background: var(--light);
}
.star0 {
  opacity: 0.4;
}
.star100:before {
  transform: translateX(0%);
}
.star90:before {
  transform: translateX(-10%);
}
.star80:before {
  transform: translateX(-20%);
}
.star70:before {
  transform: translateX(-30%);
}
.star60:before {
  transform: translateX(-40%);
}
.star50:before {
  transform: translateX(-50%);
}
.star40:before {
  transform: translateX(-60%);
}
.star30:before {
  transform: translateX(-70%);
}
.star20:before {
  transform: translateX(-80%);
}
.star10:before {
  transform: translateX(-90%);
}
.star0:before {
  transform: translateX(-100%);
}

    /* Component <Footer /> */
.Footer {
  padding: 25px 10px 20px 10px; background: var(--light-main);
  border-top: 15px solid var(--accent); text-align: center; flex-direction: column;
  color: var(--very-light); font-weight: 100; box-shadow: 0px -6px 20px rgba(50, 50, 60, 0.5);
}
.Footer__text {
  font-size: 1.3rem; color: var(--very-light); margin: 0 0 15px 0;
}
.Footer__about {
  font-size: 1rem; font-weight: normal; margin: 10px 0; color: var(--very-light);
}
.Footer__link {
  color: var(--light); font-weight: bold;
}
.Footer__social {
  margin: 15px 0; font-size: 2.3rem; display: flex; justify-content: space-evenly;
  width: 50%;
}
.Footer__social-link {
  transition: all 0.2s; color: var(--very-light); cursor: pointer;
}
.Footer__social-link:hover {
  transform: scale(1.3);
}
.Footer__twitter:hover {
  color: #00aced;
}
.Footer__github:hover {
  color: #6cc644;
}
.Footer__stackoverflow:hover {
  color: #f48024;
}
.Footer__linkedin:hover {
  color: #0077b5;
}

    /* Component <LoginForm />  */
.LoginForm {
  position: fixed; z-index: 3; top: 0; width: 100vw; height: 100vh; overflow: hidden;
  background: rgba(0, 0, 0, 0.70);
}
.LoginForm__content {
  background: var(--very-light); width: 35%; min-width: 400px; height: 80%; border-radius: 8px;
  display: grid; align-items: center; justify-items: center; grid-template-columns: 1fr 20px;
  grid-template-rows: 100px 100px 30px 30px; padding: 5px 10px; grid-gap: 8px;
}
.LoginForm__title {
  font-size: 1.4rem; width: 100%;
}
.LoginForm__close {
  font-size: 2rem; align-self: flex-start;
}
.LoginForm__text {
  align-self: flex-start; grid-column: 1 / -1;
}
.LoginForm__login-button {
  grid-column: 1 / -1; width: 55%;
}
.LoginForm__google {
  background: #db3236;
}
.LoginForm__facebook {
  background: #3B5998;
}

    /* Component <withLoading /> */
.withLoading {
  position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh;
  background: var(--accent); opacity: 0.85;
  /* Force it on top of everything! */
  z-index: 4;
}
.withLoading__accessibility-text {
  position: absolute; left: -10000px;
}
.withLoading__spinner {
  width: 100px; height: 100px; border-radius: 50%;
  background: linear-gradient(to right, var(--dark-main), var(--light-main), var(--light));
  animation: rotate-loading-spinner 1.2s cubic-bezier(0.77, 0.93, 1, 1) infinite;
}
.withLoading__spinner-center {
  width: 85%; height: 85%; background: var(--accent); border-radius: 50%;
}

    /* Component <Search /> */
.Search__filter-container {
  display: grid; grid-gap: 10px;
}
.Search__filter-container .SearchBar {
  justify-self: center;
}
.Search__results {
  display: grid; grid-template-columns: 1.2fr 1fr; grid-gap: 10px 20px;
  position: relative; padding: 20px 10px; background: var(--very-light);
}
.Search__results-list {
  list-style: none; padding: 0; margin: 0;
}
.Search__summary {
  grid-column: 1 / -1;
}
    /* Component <SearchResultTile /> */
.SearchResultTile {
  display: grid; grid-template-columns: 100px 2fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  grid-template-areas: "image title address" "image region distance" "image rating rating" "description description description";
  margin: 0; padding: 10px 0; border-bottom: 3px double var(--accent); grid-gap: 8px 2px;
}
.SearchResultTile:last-child {
  border-bottom: none;
}
.SearchResultTile__title-container {
  grid-area: title;
}
.SearchResultTile__title {
  word-break: break-word; font-size: 1.15rem; font-weight: normal;
}
.SearchResultTile__region {
  grid-area: region; font-size: 0.95rem;
}
.SearchResultTile__description {
  margin: 0;
  grid-area: description;
}
.SearchResultTile__address {
  margin: 0; grid-area: address; text-align: right; font-size: 0.85rem;
}
.SearchResultTile__distance {
  grid-area: distance; text-align: right; font-size: 0.85rem;
}
.SearchResultTile__image {
  grid-area: image; max-width: 95px; border-radius: 5px; margin: 5px 0;
}
.SearchResultTile__rating {
  justify-content: space-between; grid-area: rating;
}
.SearchResultTile__rating-count {
  margin: 5px 0; display: inline-block;
}

    /* Component <FilterSearch/> */
.FilterSearch {
  background: var(--very-light); display: grid; grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px 10px; padding: 10px 15px;
}
.FilterSearch--hidden {
  display: none;
}
.FilterSearch__button {
  font-size: 1.15rem; width: 60%; min-width: 170px;
}
.FilterSearch__button i {
  transition: all 0.3s ease-out;
}
.FilterSearch__button:hover i {
  transform: scaleX(-1) translateX(6px);
}
.FilterSearch__tiles {
  grid-column: 1 / -1; display: grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 5px 10px;
  max-height: 0; opacity: 0; transition: all 0.4s linear; overflow: hidden;
}
.FilterSearch__tiles--expanded {
  max-height: 999px; opacity: 1;
}
.FilterSearch__section {
  max-height: 320px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px; border: 1px solid var(--accent); padding: 5px; display: grid;
  grid-template-rows: auto auto auto 1fr;
}
.FilterSearch__section .btn {
  justify-self: flex-end;
}
.FilterSearch__distance {
  grid-template-rows: repeat(5, auto) 1fr
}

    /* Component <MultiCheckBox /> */
.MultiCheckBox__container {
  display: grid; overflow-y: scroll;
}
.MultiCheckBox__label {
  padding: 1px 0;
}
.MultiCheckBox__text {
   display: flex; align-items: center; text-transform: capitalize;
}
.MultiCheckBox__text:hover {
  cursor: pointer; font-weight: bold;
}
.MultiCheckBox__checkbox {
  position: absolute; left: -9999px;
}
.MultiCheckBox__checkbox:focus + .MultiCheckBox__text::before {
  outline: 2px solid ActiveBorder;
}
.MultiCheckBox__text::before {
  content: ' '; width: 17px; height: 17px; border-radius: 3px; border: 1px solid var(--dark-main);
  background: var(--dark-main); margin: 0 15px 0 5px; padding: 4px;
  display: flex; align-items: center; justify-content: center; font-size: .9rem;
  font-weight: bold; color: var(--very-light);
}
.MultiCheckBox__checkbox:checked + .MultiCheckBox__text:before {
  content: 'X'
}

    /* Component <Pagination /> */
.Pagination {
  position: relative; min-height: 35px; background: var(--very-light);
}
.Pagination__count {
  position: absolute; left: 0;
}
.Pagination__pages {
  border: 1px solid var(--dark-main); border-radius: 3px; overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.6); display: flex;
}
.Pagination__link {
  padding: 6px 9px; color: var(--very-light); text-align: center; display: inline-block;
  background: var(--accent); border: 0; width: 4.8rem; transition: all 0.2s;
}
.Pagination__link:hover {
  cursor: pointer;
}
.Pagination__link:hover:not(.Pagination__link--current) {
  background: var(--light-main)
}
.Pagination__next-link {
  border-left: 2px solid var(--dark-main); font-weight: bold; flex: 1;
}
.Pagination__prev-link {
  border-right: 2px solid var(--dark-main); font-weight: bold; flex: 1;
}
.Pagination__link--current {
  background: var(--dark-main);
  font-weight: 900;
}

    /* Component <Select /> */
.Select {
  position: relative; width: 65%; padding: 6px; margin: 2px 0; user-select: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); border-radius: 4px; display: grid;
  grid-template-columns: 1fr auto; transition: all 50ms; align-self: flex-start;
}
.Select::after {
  content: '<>'; display: flex; margin-left: 6px; transition: all 50ms;
}
.Select--expanded {
  background: var(--light-main);
}
.Select--expanded::after {
  transform: rotate(270deg) translateX(-1px) translateY(-2px); color: var(--very-light);
}
.Select__current-value {
  text-transform: capitalize; border-right: 1px solid var(--accent);
}
.Select__current-value--active {
  color: var(--very-light);
}
.Select__items {
  max-height: 0; position: absolute; right: 0; left: 0; padding: 0; list-style: none;
  overflow: scroll; background: var(--very-light); margin-top: 32px; border-radius: 5px;
  transition: all 50ms;
}
.Select__items--expanded {
  border: 1px solid var(--dark-main); max-height: 125px; display: block;
  background: var(--very-light); z-index: 1;
}
.Select__item {
  padding: 2px 5px; text-transform: capitalize;
}
.Select__item:hover {
  cursor: pointer; background: var(--accent); color: var(--very-light);
}

    /* Component <InputRange /> . Overwriting default styles */
.input-range {
  margin: 30px auto; width: 80%!important;
}
.input-range__slider, .input-range__track--active {
  background: var(--dark-main)!important; border: var(--accent)!important;
}
.input-range__label-container {
  font-size: 0.9rem; color: var(--dark-main);
}

    /* Component <SearchResultsMap />  */
.SearchResultsMap {
  border: 2px solid var(--accent); height: 500px; border-radius: 4px; padding: 0; overflow: hidden;
  /* This means after you scroll past 10px of the top of this element it'll be absolute
  Otherwise, it'll be postiion: relative */
  position: sticky; top: 10px;
}

    /* Component <DiscoverSVGMap /> */
.DiscoverSVGMap {
  margin: 0 auto; display: flex; flex-wrap: wrap;
}
.DiscoverSVGMap svg {
  /* Give explicit height - SVG doesn't scale otherwise */
  height: 470px;
  flex-basis: 100%;
}
.DiscoverSVGMap #map-canada {
  fill: var(--accent);
}
.DiscoverSVGMap__map-text {
  flex-basis: 100%; font-size: 1.4rem; text-align: center; padding-bottom: 20px;
  text-transform: capitalize;
}
.DiscoverSVGMap__scroll {
  height: 1.81rem; overflow: hidden; display: inline-block; padding: 0 5px;
}
.DiscoverSVGMap__scroll-prov {
  animation: DiscoverSVGMap-scroll 13s infinite; display: block; text-transform: uppercase;
}

    /* Component <CanadaMapSVG /> */
.CanadaMapSVG__prov {
  transition: all 50ms;
}
.CanadaMapSVG__prov--disabled, .CanadaMapSVG__prov--disabled > * {
  fill: lightgray;
}
.CanadaMapSVG__prov:hover, .CanadaMapSVG__prov:focus {
  fill: var(--light-main); stroke: var(--dark-main); stroke-width: 5;
}

    /* Component <SingleCampground /> */
.SingleCampground {
  display: grid; grid-gap: 10px 25px; grid-template-columns: 3.5fr minmax(230px, 1fr);
  padding: 20px;
  background: linear-gradient(to bottom, var(--light) 0%, var(--light) 380px, #fff 380px);
  grid-template-areas:
      "title title"
      "region reviewlink"
      "rating reviewlink"
      "map map"
      "basicinfo sidebar"
      "description sidebar"
      "activities sidebar"
      "image sidebar"
      "review-header sidebar"
      "NewReviewForm sidebar"
      "Reviews sidebar"
}
.SingleCampground .RatingBar__star {
  background: var(--light-main);
}
.SingleCampground__review-link {
  grid-area: reviewlink; display: grid; align-items: center; justify-items: center;
  grid-gap: 10px; margin: 15px 0;
}
.SingleCampground__cart {
  font-size: 0.8rem; width: 60%;
}
.SingleCampground__rating {
  grid-area: rating; align-self: flex-start; margin: 5px 0; display: flex; justify-content: space-between;
}
.SingleCampground__info-weather {
  align-self: flex-start; justify-self: flex-start; grid-area: basicinfo;
  display: grid; width: 100%; grid-template-columns: 2fr 1fr; grid-gap: 30px;
}
.SingleCampground__description {
  grid-area: description;
}
.SingleCampground__image {
  max-width: 100%;
  grid-area: image;
}
.SingleCampground__activities {
  grid-area: activities;
}
.SingleCampground__reviews-header {
   display: flex; flex-direction: column; grid-area: review-header;
}

/* Component <SingleCampgroundTitle /> */
.SingleCampgroundTitle {
  grid-area: title; margin: 0; color: var(--dark-main); font-size: 2.4rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.SingleCampgroundTitle__region {
  display: block; font-size: 1.2rem; text-shadow: none; font-weight: normal; margin: 5px 0;
  grid-area: region;
}

    /* Component <ReviewButton /> */
.ReviewButton {
  padding: 10px 12px; font-size: 1.3rem; align-self: flex-end;
}
.ReviewButton__icon {
  font-size: 1.5rem; padding: 0 7px; margin: 0;
}

    /* Component <CampMap /> */
.CampMap {
  grid-area: map; border: 2px solid var(--accent); height: 250px; position: relative;
  background: var(--light-main); display: grid;
}
.CampMap__error {
  grid-row: 1; grid-column: 1; z-index: 1; text-align: center; display: grid;
}
.CampMap__error-header {
  color: var(--very-light);
}
.CampMap--error svg {
  height: 100%; grid-row: 1; grid-column: 1; filter: blur(4px); justify-self: center;
}

    /* Component <InfoBox /> */
.InfoBox {
  display: grid; grid-template-columns: 40px 1fr; align-items: stretch;
  margin: 15px 0; border-radius: 3px;
  /* border: 2px solid var(--dark-main); */
  /* background: var(--accent); color: var(--very-light); */
}
.InfoBox__icon {
  justify-self: center;
}

    /* Component <WeatherBox /> */
.WeatherBox {
  display: grid; grid-template-columns: auto 1fr; grid-gap: 0 10px;
  grid-template-areas:
    "header header"
    "summary text"
    "summary item"
    "summary item"
    "summary item";
  grid-row: span 2; text-align: center; margin: 15px 0;
}
.WeatherBox__header {
  grid-area: header; text-align: center; border-bottom: 1px solid var(--accent);
}
.WeatherBox__text {
  font-size: 1.3rem;
  grid-area: text;
  font-weight: bold;
  text-align: left;
}
.WeatherBox__summary {
  font-size: 4rem;
  grid-area: summary;
}
.WeatherBox__item {
  font-size: 1.2rem;
  text-align: left;
}

    /* Component <Activities /> */
.Activities {
  list-style: none; margin: 0; padding: 0; display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}
.Activities__logo {
  font-size: 3rem;  padding: 0;  flex-basis: 100%;
}
.Activities__name {
  font-weight: bold; text-transform: capitalize; flex-basis: 100%;
}
.Activities__activity {
  flex-wrap: wrap; text-align: center; overflow: hidden; margin: 20px 0;
}

    /* Component <NewReviewForm /> */
.NewReviewForm {
  border: 1px solid var(--accent); border-radius: 4px; margin: 5px 0;
  padding: 5px; display: grid; grid-template-columns: 200px 1fr; grid-area: NewReviewForm;
}
.NewReviewForm__author {
  justify-self: flex-end; display: flex; align-items: center;
}
.NewReviewForm__image {
  height: 28px; margin: 0 7px 0 0; border-radius: 50%;
}
.NewReviewForm__text {
  border: 0; width: 100%; min-height: 100px; font-size: 1.1rem; font-family: inherit;
  grid-column: 1 / -1; resize: none; line-height: 1.5rem;
}
.NewReviewForm__error {
  grid-column: 1 / -1; color: var(--dark-main)
}
.NewReviewForm__controls {
  display: grid; grid-template-columns: auto auto 1fr; justify-items: flex-end;
  grid-gap: 15px; grid-column: 1 / -1;
}
.NewReviewForm__progress {
  color: var(--dark-main);
}

    /* Component <CircularProgressBar /> */
.CircularProgressbar {
  width: 30px; height: 30px; margin-left: 20px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: var(--dark-main); stroke-linecap: round; transition: all 0.6s;
}
.CircularProgressbar .CircularProgressbar-trail {
  stroke: var(--accent);
}
.CircularProgressbar .CircularProgressbar-text {
  display: none;
}

    /* Component <Reviews /> */
.Reviews {
  padding: 15px; grid-area: Reviews; max-height: 9999px; display: block; list-style: none;
}
.Reviews-delete-leave {
  opacity: 1;
}
.Reviews-delete-leave.Reviews-delete-leave-active {
  opacity: 0; transform: translateX(-500px); transition: all 0.3s cubic-bezier(.5,.06,.58,1.47);
}

    /* Component <Review /> */
.Review {
  display: grid; grid-template-columns: 180px 1fr 25px; grid-gap: 15px;
  border-bottom: 1px solid var(--accent); padding: 15px 0;
  grid-template-areas: "Review__identity Review__rating Review__delete"
                       "Review__identity Review__text Review__delete";
}
.Review:last-child {
  border: 0;
}
.Review:last-child .Review__rating:after {
  content: '🏆 First to review'; font-size: 0.9rem;
}
.Review__rating-bar {
  flex-basis: 100%;
}
.Review__identity {
  display: grid; grid-template-columns: 1fr 2fr; grid-gap: 0 10px; align-items: flex-start;
  grid-area: Review__identity;
}
.Review__author {
  overflow-wrap: break-word;
}
.Review__image {
  width: 100%; border-radius: 4px; border: 2px solid var(--accent); margin-right: 5px;
}
.Review__rating {
  display: flex; flex-wrap: wrap; grid-area: Review__rating;
}
.Review__time-stamp {
  flex-basis: 100%;
}
.Review__delete {
  grid-area: Review__delete; font-size: 2.2rem; color: var(--accent);
}
.Review__text {
  grid-column: 1 / span 2; grid-area: Review__text;
}

    /* Component <Sidebar /> */
.Sidebar {
  grid-area: sidebar; border-left: 1px solid var(--accent); padding: 0 0 0 10px;
  margin: 10px 0;
}
.Sidebar__section {
  display: flex; flex-direction: column; margin: 0px 0;
  border-bottom: 1px solid var(--light-main);  padding: 10px 0;
}
.Sidebar__section:last-child {
  border-bottom: 0;
}
.Sidebar__heading {
  font-weight: bold; font-size: 1.35rem;
}
.Sidebar__subheading {
  font-size: 1.1rem;
}
.Sidebar__details {
  margin-left: 5px;
}
.Sidebar__details h3 {
  text-transform: capitalize;
}
.Sidebar__text {
  font-size: 0.9rem; margin: 5px 0 5px 10px;
}

    /* Component <Discover /> */
.Discover {
  display: grid; grid-template-columns: 1fr; grid-gap: 10px 25px; margin: 10px 10px 35px 10px;
}
.Discover__header {
  text-transform: capitalize;
}
.Discover__map {
  border: 2px solid var(--accent); height: 500px; border-radius: 4px; padding: 0;
  overflow: hidden; position: relative;
}


    /* FourOhFour */
.FourOhFour {
  padding: 10px 5px; margin: 15px 0; text-align: center; font-size: 1.4rem;
}
.FourOhFour__link {
  color: var(--light-main);
}



@media screen and (max-width: 767px) {
  /* OVERVIEW STYLES */
  h1::after, h1::before {
    content: none;
  }
  /* GENERAL STYLES */
  .btn--large {
    font-size: 1.2rem; padding: 6px 12px; font-weight: bold;
  }
  /* Component <Header /> */
  .Header {
    padding: 5px; grid-gap: 5px; height: 60px;
  }
  .Header > .btn {
    font-size: .7rem; background: var(--light-main); box-shadow: none;
  }
  .Header__cart-icon i, .Header__discover-icon i {
    display: none;
  }
  .Header__title {
    font-size: 1.4rem; align-self: center;
  }
  .Header__user-image {
    display: none;
  }
  .Header__discover-icon, .Header__login, .Header__cart-icon {
    padding: 4px 8px; font-size: 0.8rem; margin: 0 8px; width: 80%;
  }
  .Header--sticky {
    position: fixed; top: 0; background: linear-gradient(to right, var(--light-main) 0%, var(--dark-main) 85%);
    width: 100%; max-height: 20vh; z-index: 2; padding: 15px 5px;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.7); border-bottom: 4px solid var(--dark-main);
  }
  .Header--sticky.SingleCampgroundTitle {
    color: var(--light); font-size: 1.1rem; font-weight: bold;
  }
  .Header--sticky .Header__title {
    color: var(--light); text-shadow: none;
  }
  /* Component <XButton /> */
  .XButton:hover {
    animation: none;
  }
  /* Component <Cart/> */
  .Cart {
    width: 100%; background: var(--accent); grid-gap: 5px 0;
    grid-template-rows: 40px 20px repeat(auto-fit, 70px); padding: 5px;
  }
  .Cart__header {
    color: var(--very-light); font-size: 1.5rem;
  }
  .Cart__close {
    font-size: 1.6rem;
  }
  .Cart__item {
    padding: 5px 0;
  }
  /* Component <Banner /> */
  .Banner {
    height: 55vh; overflow: visible;
  }
  .Banner__title {
    font-size: 2.5rem; margin-bottom: 35px;
  }
  .Banner__logo {
    transform: scaleX(0.92); height: 2.5rem;
  }
  .Banner__content {
    justify-content: flex-start;
  }
  .Banner__subtitle {
    font-size: 1.3rem;
  }
  .Banner__quote {
    display: none;
  }
  .Banner__chevron {
    display: none;
  }
  /* Component <SearchBar /> */
  .SearchBar {
    width: 95vw; max-height: 40px;
  }
  .SearchBar__label {
    display: none;
  }
  .SearchBar__input {
    border: 2px solid var(--accent); font-size: 0.9rem;
    border-top-left-radius: 8px; border-bottom-left-radius: 8px;
  }
  .SearchBar__button {
    padding: 5px; font-size: 1.8rem;
  }
  .SearchBar__result-icon {
    font-size: 1.4rem;
  }
  /* Component <LandingText /> */
  .LandingText {
    display: grid; grid-template-columns: 100% 100% 100%; padding: 0; overflow: auto;
  }
  .LandingText__section {
    padding: 10px; margin: 20px 0;
  }
  .LandingText__section:hover {
    transform: none;
  }
  /* Component <LandingTiles /> */
  .LandingTiles {
    margin: 0; display: flex; flex-direction: column; padding: 0 10px;
  }
  .LandingTiles__section, .LandingTiles__section:first-child {
    grid-template-columns: 1fr 1fr 1fr; padding: 0 5px;  margin: 5px 0; box-shadow: none;
  }
  .LandingTiles__number {
    margin: 15px;
  }
  .LandingTiles__icon {
    border-bottom: 0;
  }
  /* Component <DiscoverTile /> */
  .DiscoverTile {
    margin: 10px 0;
  }
  .DiscoverTile__button {
    padding: 12px 30px;
  }
  /* Component <Campgrounds /> */
  .Campgrounds {
    margin: 0 10px 10px 10px;
  }
  /* Component <CampgroundTile /> */
  .CampgroundTile {
    grid-template-areas:
       "image image"
       "link rating"
       "region reviews"
  }
  .CampgroundTile > .RatingBar {
    justify-self: flex-end;
  }
  .CampgroundTile__review-count {
    text-align: right;
  }
  /* Component <Footer /> */
  .Footer {
    box-shadow: none; margin-top: 10px; padding:0;
  }
  .Footer__text {
    margin: 0 0 10px 0; font-weight: bold;
  }
  .Footer p, .Footer__about {
    font-size: 0.8rem; margin: 0;
  }
  .Footer__social {
    font-size: 1.7rem; margin: 0;
  }
  /* Component <Search /> */
  .Search__filter-container {
    grid-gap: 5px;
  }
  .Search__results {
    grid-template-columns: 1fr; grid-gap: 5px 10px; padding: 5px;
  }
  .Search__summary {
    text-align: center; font-size: 1rem;
  }
  /* Component <SearchResultTile /> */
  .SearchResultTile {
    grid-template-columns: 1fr 1fr 1fr; grid-gap: 0; grid-template-areas:
      "title title title"
      "address address address"
      "region region distance"
      "rating rating rating"
      "description description description";
  }
  .SearchResultTile__address {
    text-align: left;
  }
  .SearchResultTile__image {
    display: none;
  }
  /* Component <FilterSearch/> */
  .FilterSearch > button {
    grid-column: 3;
  }
  .FilterSearch__tiles {
    grid-template-columns: 1fr;
  }
  /* Component <Pagination /> */
  .Pagination__count {
    display: none;
  }
  .Pagination__pages {
    box-shadow: none; width: 100%;
  }

  /* Component <DiscoverSVGMap /> */
.DiscoverSVGMap {
margin: 0 auto; display: flex; flex-wrap: wrap;
}
.DiscoverSVGMap svg {
/* Give explicit height - SVG doesn't scale otherwise */
height: 470px;
flex-basis: 100%;
}
.DiscoverSVGMap #map-canada {
fill: var(--accent);
}
.DiscoverSVGMap__map-text {
flex-basis: 100%; font-size: 1.4rem; text-align: center; padding-bottom: 20px;
text-transform: capitalize;
}
.DiscoverSVGMap__scroll {
height: 1.81rem; overflow: hidden; display: inline-block; padding: 0 5px;
}
.DiscoverSVGMap__scroll-prov {
animation: DiscoverSVGMap-scroll 13s infinite; display: block; text-transform: uppercase;
}

  /* Component <SingleCampground /> */
  .SingleCampground {
    grid-gap: 5px; grid-template-columns: 3.5fr minmax(230px, 1fr); padding: 5px; background: var(--very-light);
    grid-template-areas:
      "title title"
      "region region"
      "rating rating"
      "reviewlink reviewlink"
      "map map"
      "basicinfo basicinfo"
      "description description"
      "activities activities"
      "image image"
      "review-header review-header"
      "NewReviewForm NewReviewForm"
      "Reviews Reviews"
      "sidebar sidebar"
  }
  .SingleCampground__review-link {
    justify-items: flex-start; grid-template-columns: 1fr 1fr; margin: 0; height: 55px;
  }
  .SingleCampground__cart {
    justify-self: flex-end; height: 80%; width: 80%;
  }
  .SingleCampground__rating {
    justify-content: space-between;
  }
  .SingleCampground__info-weather {
    grid-template-columns: 1fr; grid-gap: 0;
  }
  .SingleCampground__reviews-header {
    flex-direction: row; justify-content: space-between;
  }
  /* Component <SingleCampgroundTitle /> */
  .SingleCampgroundTitle {
    text-shadow: none; font-size: 1.8rem; font-weight: bold;
  }
  /* Component <ReviewButton /> */
  .ReviewButton {
    padding: 4px 8px; font-size: 1.1rem; height: 100%;
  }
  /* Component <CampMap /> */
  .CampMap {
    height: 220px;
  }
  /* Component <InfoBox /> */
  .InfoBox {
    margin: 0;
  }
  /* Component <WeatherBox /> */
  .WeatherBox {
    grid-gap: 0 5px; margin: 0;
  }
  .WeatherBox__header {
    visibility: hidden; font-size: 0;
  }
  /* Component <Activities /> */
  .Activities {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .Activities__logo {
    font-size: 2.2rem;
  }
  /* Component <Reviews /> */
  .Reviews {
    padding: 5px;
  }
  /* Component <Review /> */
  .Review {
    grid-gap: 5px; grid-template-areas:
      "Review__identity Review__rating Review__delete"
      "Review__text Review__text Review__delete";
  }
  .Review__delete {
    opacity: 1;
  }
  /* Component <Sidebar /> */
  .Sidebar {
    border: 0; padding: 0; margin: 10px 0;
  }
  .Sidebar::before {
    content: ' '; display: block; height: 5px; border-top: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
  }
  .Sidebar__text {
    font-size: 1rem;
  }
}
